# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
ecommerce-backend/node_modules/
frontend/node_modules/

# Build output directories
dist/
frontend/dist/
ecommerce-backend/dist/
build/
frontend/build/
ecommerce-backend/build/

# Environment files
.env
.env.*
*.local

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache and temporary files
*.cache
.
